<?xml version="1.0" encoding="UTF-8"?>
<newsletter name="wednesdaywaggle" base="newsletter/newsletters/wednesdaywaggle/" body="body.tem" head="extrahead.tem">
  <section name="Wednesday Waggle" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Upcoming events" template="section-title.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Summer internships" template="section-title.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Year long placements" template="section-title.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Graduate positions" template="section-title.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Postgraduate study" template="section-title.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
</newsletter>
