*~
autodocs/
images/
!templates/default/images
!templates/default/userbar/images
!templates/default/js/lightface/images
!templates/default/js/selectctrl/css/images
config/site.cfg
ckeditor
testharness.pl
.emacs.desktop
.emacs.desktop.lock
templates/default/js/datepicker
templates/default/js/MultiSelect
templates/default/js/twitter-text.js
templates/default/js_*
templates/default/css_*
modules/Net
