<?xml version="1.0" encoding="UTF-8"?>
<newsletter name="industryclub" base="newsletter/newsletters/industryclub/" body="body.tem" head="extrahead.tem">
  <section name="Industry Club Newsletter" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Dummy" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
</newsletter>
