<?xml version="1.0" encoding="UTF-8"?>
<newsletter name="school" base="newsletter/newsletters/school/" body="body.tem" head="extrahead.tem">
  <section name="News from Head of School" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="News and announcements" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Events" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="PGR News" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Funding Opportunities" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Featured Research" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Prize and award Opportunities" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Tech Support News" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
  <section name="Sustainability and Green Impact News" template="section.tem" menu="section-menu-item.tem" toc="toc-item.tem">
    <article>article.tem</article>
    <image>image.tem</image>
    <files>files.tem</files>
    <file>file.tem</file>
    <empty />
    <required>required-section.tem</required>
  </section>
</newsletter>
