@charset "utf-8";

#articlelist {
    margin: 0px auto;
    margin-top: 40px;
    width: 1130px;
}

table.listtable {
    width: 100%;
}

table.listtable tr td {
    border-bottom: 1px solid #ddd;
    padding: 7px 3px;
    vertical-align: middle;
    white-space: nowrap;
}

table.listtable tr:last-child td {
    border-bottom: none;
}

table.listtable tr td.mode {
    width: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}

table.listtable tr td.mode.hidden {
    background-image: url('../images/modes/hidden.png');
}

table.listtable tr td.mode.visible {
    background-image: url('../images/modes/visible.png');
}

table.listtable tr td.mode.released {
    background-image: url('../images/modes/released.png');
}

table.listtable tr td.mode.timed {
    background-image: url('../images/modes/timed.png');
}

table.listtable tr td.mode.edited {
    background-image: url('../images/modes/edited.png');
}

table.listtable tr td.mode.draft {
    background-image: url('../images/modes/edited.png');
}

table.listtable tr td.mode.deleted {
    background-image: url('../images/modes/deleted.png');
}

table.listtable tr td.date.timed {
    color: #777;
}

table.listtable tr td.controls {
    width: 100px;
    padding: 0px;
}

table.listtable tr td.controls ul.controls {
    display: none;
    float: right;
}

table.listtable tr:hover td.controls ul.controls {
    display: inline-block;
}


.control.edit {
    background-position: 0px 0px;
}

.control.edit:hover {
    background-position: 0px -32px;
}

.control.edit.ctrldisabled {
    background-position: 0px -16px;
}

.control.delete {
    background-position: -16px 0px;
}

.control.delete:hover {
    background-position: -16px -32px;
}

.control.delete.ctrldisabled {
    background-position: -16px -16px;
}

.control.undelete {
    background-position: -64px 0px;
}

.control.undelete:hover {
    background-position: -64px -32px;
}

.control.undelete.ctrldisabled {
    background-position: -64px -16px;
}

.control.publish {
    background-position: -32px 0px;
}

.control.publish:hover {
    background-position: -32px -32px;
}

.control.publish.ctrldisabled {
    background-position: -32px -16px;
}

.control.hide {
    background-position: -48px 0px;
}

.control.hide:hover {
    background-position: -48px -32px;
}

.control.hide.ctrldisabled {
    background-position: -48px -16px;
}
