@charset "utf-8";

#articlelist {
    margin: 0px auto;
    margin-top: 40px;
    width: 1130px;
}

table.listtable {
    width: 100%;
}

table.listtable tr td {
    border-bottom: 1px solid #eee;
    padding: 7px 3px;
    vertical-align: middle;
    white-space: nowrap;
}

table.listtable tr:last-child td {
    border-bottom: none;
}

table.listtable tr td.mode {
    width: 22px;
    background-repeat: no-repeat;
    background-position: left center;
}

table.listtable tr td.mode.visible {
    background-image: url('../images/modes/visible.png');
}

table.listtable tr td.mode.released {
    background-image: url('../images/modes/released.png');
}

table.listtable tr td.mode.timed {
    background-image: url('../images/modes/timed.png');
}

table.listtable tr td.mode.edited {
    background-image: url('../images/modes/edited.png');
}

table.listtable tr td.mode.deleted {
    background-image: url('../images/modes/deleted.png');
}

table.listtable tr td.date.timed {
    color: #777;
}

table.listtable tr td.controls {
    width: 74px;
    padding: 0px;
}

table.listtable tr td.controls img.control {
    border: none;
    padding: 0px 0px 0px 1px;
    display: none;
}

table.listtable tr:hover td.controls img.control {
    display: inline-block;
}