@charset "utf-8";

#composeform {
    margin: 0px auto;
    width: 95%;
}

#leftcol {
    float: left;
    width: 67%;
    margin: 0px;
    padding: 0px;
}

#leftcol li {
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

#settings {
    float: right;
    width: 30%;
}

.textwrapper {
    padding-top: 5px;
}

div.fancy-select {
    max-height: 64px;
    max-width: 300px;
}

div.slider {
    width: 300px;
    height: 16px;
}

div.slider div.slidebar {
    position: relative;
    left: 0px;
    top: 8px;
    height: 0px;
    width: 300px;
    border-top: 1px solid #AAAAAA; /* Recklessly disregard gravity! */
    border-bottom: 1px solid #DDD;
}

div.slider div.slideknob {
    width: 16px;
    height: 16px;
    background: url('../images/slideknob.png') no-repeat center;
}

div#prilabel {
    width: 300px;
}

div#prilabel div.fltright {
    float: right;
}

dd.next1 {
    color: #555;
    font-size: 85%;
}

#schedule-next1.late {
    padding-left: 16px;
    background-image: url('../images/newsletter/late_newsletter.png');
    background-repeat: no-repeat;
    background-position: center left;
    color: #C20101;
}

dd.next2 {
    color: #999;
    font-size: 75%;
}

/* Matrix */
ul.reciplist {
    margin: 0px;
    padding: 0px;
}

ul.reciplist li {
    padding: 0px 0px 0px 11px;
    list-style-type: none;
}

div.content > ul.reciplist > li {
    padding: 0px;
}

ul.reciplist li > div.recipient {
    padding-left: 11px;
    line-height: 20px;
    vertical-align: center;
}

ul.reciplist li.haschild > div.recipient {
    background-image: url("../images/tree_closed.png");
    background-repeat: no-repeat;
    background-position: 0px 4px;
}

ul.reciplist li.haschild.open > div.recipient {
    background-image: url("../images/tree_open.png");
}

ul.reciplist li.haschild > div.recipient:hover {
    background-image: url("../images/tree_closed-hover.png");
}

ul.reciplist li.haschild.open > div.recipient:hover {
    background-image: url("../images/tree_open-hover.png");
}


ul.reciplist li div.MultiSelect {
    display: inline-block;
    width: 160px;
    text-align: left;
}
div.recip-meths {
    text-align: right;
    height: 20px; /* This may be dangerous, but without it the div defaults to 23px!?!? */
    margin-bottom: 2px;
    margin-left: 11px;
    border-bottom: 1px dotted #888;
    padding-bottom: 1px;
}
div.recipient {
    float: left;
}
li.haschild > div.recipient {
	cursor: pointer;
}

div.content h3 {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px dotted #666;
    margin: 10px 0px 2px 0px;
    color: #005678;
}

span.helptext {
    font-size: 75%;
    color: #666;
    white-space: normal;
}


/* Twitter-specifics */
#twitter-text {
    width: 90%;
}

#twitter-text-count {
    float: right;
    font-size: 20px;
}

div.entry {
    text-align: left;
    margin: 0px auto;
}

div.entry label {
    color: #222;
}

div.entry label input {
    width: 100%;
}

div.autosavebox {
    border: 1px #CCC inset;
    padding: 2px;
    font-size: 9px;
}

#autotools {
    margin: 0px;
    padding: 0px;
    float: right;
}

#autotools li {
    padding: 0px 0px 0px 5px;
    list-style-type: none;
    display: inline;
}

#autotools li span {
 	cursor: pointer;
}

#autotools li span:hover {
 	color: #0077FF;
}


#autoloadopt {
    opacity: 0;
}

/* file upload stuff */
ul#filelist {
    margin: 0px;
    padding: 0px;
}

ul#filelist li {
    cursor: move;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    padding: 2px;
    margin: 2px;
}

ul#filelist li:last-child {
    border-bottom: none;
}

ul#filelist li div img {
    cursor: pointer;
}

ul#filelist li div {
    height: 20px;
    display: table-cell;
    vertical-align: middle;
}

.droplist {
    border: 1px solid #F92 !important;
    box-shadow: 0 0 8px rgba(255, 189, 112, 1);
    -webkit-box-shadow: 0 0 8px rgba(255, 189, 112, 1);
    -moz-box-shadow: 0 0 8px rgba(255, 189, 112, 1);
}

.big {
    font-size: 2em;
}

.MultiSelectList li label.highlight {
    background-image: url('../images/messages/error22.png');
    background-repeat: no-repeat;
    padding-left: 18px;
    background-size: contain;
}