@charset "utf-8";

#composeform {
    padding-top: 32px;
    margin: 0px auto;
    width: 1074px;
}

#article {
    float: left;
    width: 774px;
}

#settings {
    float: right;
    width: 240px;
}

.textwrapper {
}

div.clear {
    clear: both;
}

dl.input {
    margin: 5px 0px 0px 0px;
}

dl.float {
    float: left;
    margin-right: 1em;
}

dl.input > dt {
    margin: 0px 0px 6px;
}

dl.input > dd {
    margin: 0px;
    oadding: 0px;
}

dl.input > dd > select {
    min-width: 10em;
}

select.fillwide {
    width: 230px;
}

input.fillwide.datepick {
    width: 207px;
}
