@charset "utf-8";

#feedpage {
    margin: 0px auto;
    width: 98%;
}

#feeds {
    float: left;
    width: 67%;
    margin: 0px;
    padding: 0px;
}

#feeds li {
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

#sidebar {
    float: right;
    width: 30%;
}

table.listtable {
    width: 100%;
}

table.listtable tr td {
    border-bottom: 1px solid #ddd;
    padding: 7px 3px;
    vertical-align: middle;
    white-space: nowrap;
}

table.listtable tr:last-child td {
    border-bottom: none;
}

table.listtable td.feed {
    width: 100%;
}

div.numeric {
    border: 1px inset #ccc;
    width: 100%;
    text-align: right;
    padding-right: 2px;
    background: #fff;
}

div.numeric > button {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

div.numeric > input {
    text-align: right;
    border: none;
    padding: 0px;
    background: #fff;
}

input[type=text].rss {
    padding: 4px 4px 4px 23px;
    background: url(../images/feed-icon-14.png) no-repeat 2px center;
}
