ul.msgctrl {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    margin-left: 3em;
    opacity: 0;
    visibility: hidden;
}

ul.msgctrl li {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
    vertical-align: baseline;
	margin: 0px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
    font-weight: bold;
	padding: 6px 14px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #444;
    border: solid 1px #b1b1b1;
    border-right: none;
	list-style: none;
}

ul.msgctrl li:first-child {
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}


ul.msgctrl li:last-child {
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
    border-right: solid 1px #b1b1b1;
}


ul.msgctrl li:hover {
    color: #444;

    background-color: #cdcdcd; /* Fallback */
    background-image: -ms-linear-gradient(top, #eeeeee, #c9c9c9); /* IE10 */
    background-image: -moz-linear-gradient(top, #eeeeee, #c9c9c9); /* Firefox */
    background-image: -o-linear-gradient(top, #eeeeee, #c9c9c9); /* Opera */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#c9c9c9)); /* old Webkit */
    background-image: -webkit-linear-gradient(top, #eeeeee, #c9c9c9); /* new Webkit */
    background-image: linear-gradient(top, #eeeeee, #c9c9c9); /* proposed W3C Markup */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c9c9c9');
}
