/* The following assumes a HTML setup as:
 *
 * <div ... > <!-- container for drag&drop feature -->
 *     <div id="ml-droparea">
 *         <div id="ml-dropzone">Drop image to upload here</div>
 *     </div>
 *     <div id="progressbox">
 *         <div id="ml-progress"></div>
 *         <div id="ml-progressmsg"></div>
 *     </div>
 * </div>
 */

/* outer drop area styling */
#ml-droparea {
	background: #545A74;
	padding: 10px;
	clear: both;
	text-align: center;
}

#ml-droparea.hover {
	background: #121a3f;
}

#ml-droparea.disabled {
	background: #666;
}

/* inner drop area */
#ml-dropzone {
	border: #ddd 1px dashed;
    margin: 0px 0px;
	color: white;
	padding: 20px;
	text-align: center;
}

/* Progress display. Note that the outer div has relative position
 * so that the progress message can be overlaid over the progress
 * bar with absolute positioning.
 */
#ml-progressbox {
	border-radius: 3px;
    position: relative;
	margin: 5px 0;
	height: 20px;
	background: #545A74;
}

#ml-progress {
	border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 0;
	height: 20px;
	background: #dd5A74 url('../images/upload.gif') repeat-x top left;
}

#ml-progressmsg {
	border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
	height: 20px;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    text-shadow: 2px 2px 1px #333;
}
